body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('pictures/gif.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
}
a:hover{
    color: #aaaaaa;
}
h4{
    margin: 0px;
}
a{
    text-decoration: none;
    color: #fff;
}
.logo{
    max-width: 100%;
    height: 15px;
    margin-right: 5px;
}
.logoCurso{
    max-width: 100%;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
    
}
.containerAll {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 60px;
    
}

.profile-photo img {
    max-width: 100%;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #fff;
    margin-right: 20px;
}

.tecnologia{
    max-width: 100%;
    height: 50px;
    margin-right: 20px;
}
.tecnologia:hover{
    max-width: 100%;
    height: 53px;
    margin-right: 20px;
}
.header h1 {
    font-size: 36px;
    margin: 0;
    color: #fff;
}

.header h3 {
    font-size: 18px;
    margin: 0;
    color: #fff;
}

.header p {
    font-size: 18px;
    margin: 5px 0;
    color: #bbb;
}

.content {
    padding: 20px;
}

.section {
    margin-top: 20px;
}

.section h2 {
    font-size: 24px;
    color: #fff;
}

.section ul {
    list-style: none;
    padding: 0;
}

.section li {
    margin-bottom: 10px;
}

.section .info {
    font-size: 16px;
    color: #ddd;
}

.section .date {
    font-size: 14px;
    color: #888;
}

.section .description {
    margin-top: 10px;
    font-size: 16px;
    color: #ccc;
}
.container {
    position: relative;
}


.btn-whatsapp a {

	color:#fff; 
	text-decoration:none; 
	display:block; 
}

.btn-whatsapp {
    
    position:fixed; 
    right:75px; 
    bottom:3px; 
    transform: translate(-50%, -50%);  
    background-color:rgb(37, 211, 102); 
    width:60px; height:60px; 
    text-align:center; 
    line-height:58px; 
    font-size:1.8em; 
    color:#ffffff; 
    font-weight:100; 
    border-radius:50%; 
}

.btn-whatsapp:before,
.btn-whatsapp:after

{

	content: '';
    display:block;
    position: absolute;
    border-radius:50%;
    border:1px solid #25d366;
    left: -20px;
    right: -20px;
    bottom: -20px;
    top: -20px;
    animation: animate 1.5s linear infinite;
    opacity:0;
    backface-visibility:hidden;    
}

.pulsaDelay:after { animation-delay: .5s; }

.logoCurso{
    height: 15px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333; /* Cor de fundo desejada */
    color: #fff; /* Cor do texto desejada */
    padding: 10px 0;
    text-align: center;
}

@keyframes animate {


   0%   { transform: scale(0.5); opacity:0; }
   50%  { opacity:1; }
   100% { transform: scale(1.2); opacity:0; }

}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center; 
        background-color: rgba(0, 0, 0, 0.7);
    }

    .profile-photo img {
        order: 2;
        max-width: 80px;
        height: auto;
    }

    .header h1 {
        font-size: 20px;
    }
    .header h2 {
        font-size: 10px;
    }

    .description img {
        max-width: 30px;
        height: auto;
        margin-right: 5px;
    }
    .btn-whatsapp {
        position: fixed;
        right: 20px;
        bottom: 20px; 
        transform: scale(0.8);
        width: 40px;
        height: 40px;
        line-height: 38px; 
        font-size: 1.4em; 
    }
}

